common_permissions: &permissions
  permissions:
    - level: CAN_READ
      group_name: users

grants: &grants
  grants:
    - privileges:
        - EXECUTE
      principal: account users

resources:
  registered_models:
      model:
        name: ${var.registered_model}
        catalog_name: ${var.uc_catalog}
        schema_name: ${var.schema}
        comment: Agent model for ${bundle.name} - ${bundle.target}
        <<: *grants

  experiments:
    experiment:
      name: ${var.experiment}
      <<: *permissions
