common_permissions: &permissions
  permissions:
    - level: CAN_VIEW
      group_name: users


resources:
  jobs:
    agent_development_job:
      name: ${bundle.target}-{{ .input_project_name }}-agent-development-job
      tasks:
        - task_key: AgentDevelopment
          notebook_task:
            notebook_path: ../agent_development/agent/notebooks/Agent.py
            base_parameters:
              uc_catalog: ${var.uc_catalog}
              schema: ${var.schema}
              experiment: ${var.experiment}
              registered_model: ${var.registered_model}
              model_alias: ${var.model_alias}
              git_source_info: url:${bundle.git.origin_url}; branch:${bundle.git.branch}; commit:${bundle.git.commit}

        - task_key: AgentEvaluation
          depends_on:
            - task_key: AgentDevelopment
          notebook_task:
            notebook_path: ../agent_development/agent_evaluation/notebooks/AgentEvaluation.py
            base_parameters:
              uc_catalog: ${var.uc_catalog}
              schema: ${var.schema}
              experiment: ${var.experiment}
              registered_model: ${var.registered_model}
              model_alias: ${var.model_alias}
              eval_threshold_mode: ${var.eval_threshold_mode}
              git_source_info: url:${bundle.git.origin_url}; branch:${bundle.git.branch}; commit:${bundle.git.commit}

      schedule:
        quartz_cron_expression: "0 0 6 * * ?"
        timezone_id: UTC

      <<: *permissions
