input_root_dir={{.input_root_dir}}
input_project_name={{.input_project_name}}
input_cloud={{.input_cloud}}
input_cicd_platform={{.input_cicd_platform}}

cloud_specific_node_type_id={{ template `cloud_specific_node_type_id` . }}
project_name_alphanumeric_underscore={{ template `project_name_alphanumeric_underscore` . }}
cli_version={{ template `cli_version` . }}
