# This pipeline is triggered upon making a PR against the {{ .input_default_branch }} branch.
# Unit tests are defined under tests/
# The integration test deploys and runs the agent_development_job defined in resources/agent-resource.yml
# This integration test is run in the staging workspace, as defined under databricks.yml

# run on merge requests, tags, and the default branch
stages:
  - triggers

image: {{ .input_docker_image }}

trigger_ci:
  stage: triggers
  trigger:
    include:
      - local: .gitlab/pipelines/{{.input_project_name}}-bundle-ci.yml
    strategy: depend
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == 'main'
      changes:
        - '*'

trigger_cd_stage:
  stage: triggers
  trigger:
    include:
      - local: .gitlab/pipelines/{{.input_project_name}}-bundle-cd-staging.yml
    strategy: depend
  rules:
    - if: $CI_COMMIT_BRANCH == 'main'

trigger_cd_production:
  stage: triggers
  trigger:
    include:
      - local: .gitlab/pipelines/{{.input_project_name}}-bundle-cd-prod.yml 
    strategy: depend
  rules:
    - if: $CI_COMMIT_BRANCH == 'release'