image: databricksfieldeng/mlopsstacks:latest

deploy-production:
  stage: deploy
  environment: production
  variables:
    DATABRICKS_CLIENT_ID: "${SP_CLIENT_ID}"
    DATABRICKS_CLIENT_SECRET: "${SP_CLIENT_SECRET}"
  script:
    - cd .
    - databricks bundle validate -t prod
    - databricks bundle deploy -t prod
  rules:
    - when: on_success
