stages:
  - triggers

image: databricksfieldeng/mlopsstacks:latest

trigger_ci:
  stage: triggers
  trigger:
    include:
      - local: .gitlab/pipelines/{{.input_project_name}}-bundle-ci.yml
    strategy: depend
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == 'main'
      changes:
        - '*'

trigger_cd_stage:
  stage: triggers
  trigger:
    include:
      - local: .gitlab/pipelines/{{.input_project_name}}-bundle-cd-staging.yml
    strategy: depend
  rules:
    - if: $CI_COMMIT_BRANCH == 'main'

trigger_cd_production:
  stage: triggers
  trigger:
    include:
      - local: .gitlab/pipelines/{{.input_project_name}}-bundle-cd-prod.yml
    strategy: depend
  rules:
    - if: $CI_COMMIT_BRANCH == 'release'
